.mainpage__uploadicon {
  height: 80px;
  width: 80px;
}

.mainpage__divider {
  height: 0px;
  width: 220px;
  border: 1px solid #dbdbdb;
  margin-top: 40px;
}

.mainpage__container {
  width: 615px;
  margin: 0px 10px 0px -5px;
  display: flex;
  justify-content: center;
}

.fileupload>input {
  display: none;
}

.upload_text {
  text-align: center;
  margin-left: -25px;
}

.upload_button {
  margin: 40px;
  background-color: #f05d38;
  color: white;
  font-weight: 400;
  border: 0px;
  height: 40px;
  border-radius: 5px;
}

.upload_textbox {
  margin: 20px 40px;
  border-bottom: rgb(173, 172, 172);
  border-bottom-style: solid;
  border-bottom-width: 2px;
}

.upload_preview {
  padding: 0px 40px;
  padding-top: 0px;
}

.upload_header {
  font-size: 15px;
  font-weight: 600;
  text-align: left;
  margin-left: 20px;
  margin-top: 20px;
}

.post_container {
  width: 615px;
  height: 400px;

}

.post_header {
  height: 60px;
  border-bottom: 1px solid #dbdbdb;
  display: flex;
}

.post_image {
  min-width: 45px;
  min-height: 45px;
  margin: 10px;
}

.post_username {
  font-weight: bold;
  margin-top: 20px;
  margin-left: 20px;
}

.post_comment {
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 10px;
  text-align: left;
}

.post_commentbox {
  height: 56px;
  width: 608px;
  border: 1px solid #dbdbdb;
  font-size: 16px;
  padding-left: 4px;
}

.postContainer_post {
  width: 615px;
  height: 340px;
}

.post {
  width: 615px;
  height: 400px;
  border: 1px solid #dbdbdb;
  margin-top: 75px;
}

.post_footer {
  height: 60px;
  border-bottom: 1px solid #dbdbdb;
  display: grid;
  grid-template-columns: 80% 10% 10%;
  align-items: start;
  justify-content: center;
}

.post_comment {
  padding: 0.7rem;
  font-size: 1.7em;
  margin: auto;
}

.post_caption {
  margin-top: 20px;
  margin-left: 20px;
  text-align: left;
}