@media screen and (max-width: 525px) {
  .comment_container {
    height: 100vh;
    width: 100vw;
    border-radius: 0;
  }

  .comment_container__search > div {
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
  .comment_container__search > div > label::after {
    content: "Comments";
  }

  ul.comment_container__comments {
    margin-top: 10.5rem;
  }
}
